.contenedor {
  border: 2px solid #000000;
  width: 20%;
}

img {
  width: 6.25em;
  /*border-radius: 50%;
  box-shadow: 5px 5px 0px #424242;*/
}

.descripcion {
  position: absolute;
  top: 15px;
  left: 8em;
}

h1 {
  color: #db3434;
  font-family: "Lucida Bright", serif;
  font-style: italic;
  font-size: 2em;
  font-weight: bold;
}

figure {
  margin: auto;
  display: inline-block;
  text-align: center;
  width: 100%;
}

figcaption {
  display: inline-block;
  position: relative;
  top: -1em;
  left: .5em;
  color: #db3434;
  font-family: "Lucida Bright", serif;
  font-style: italic;
  font-size: 2em;
  font-weight: bold;
}

@media (min-width: 320px) and (max-width: 700px){
  .contenedor {
    width: 100%;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .contenedor {
    width: 40%;
  }
}
