body {
  background: #000000;
  margin: 0px;
}

nav {
  background: #20bf6b;
  width: 100%;
  /*display: flex;
  flex-direction: row;*/
}

.option {
  background: #222f3e;
  display: inline-block;
  margin: .5em;
  padding: 1em;
  border-radius: 1em;
  text-align: center;
}

a {
  font-family: "Lucida Bright", serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

/*.texto {
  display: flex;
  flex-direction: column;
  position: relative; No es necesario
}*/

.parrafo {
  background-color: #222f3e;
  margin: 2em 2em 2em 2em;
  height: 550px;
}

p {
  color: white;
}

a:hover {
  border-bottom: 4px solid #ff9f43;
}

.option:active {
  background-color: #1e272e;
}

@media (min-width: 320px) and (max-width: 1100px) {
  a{
    font-size: .8em;
  }

  .option {
    display: block;
    border-radius: 0px;
  }

  .parrafo {
    height: 300px;
    margin: 1em 1em 1em 1em;
  }
}

@media (min-width: 1101px) and (max-width: 1799px) {
  .parrafo{
    height: 500px;
  }
}

@media (min-width: 1800px) and (max-width: 2560px) {
  a{
    font-size: 3em;
  }

  .option {
    margin: 2em;
  }

  .parrafo {
    height: 1800px;
  }

  p {
    font-size: 2em;
  }
}
